<h1>Tickets asignados</h1>

<mat-form-field>
  <mat-label>Status de ticket</mat-label>
  <mat-select (selectionChange)="GetTicketsByStatus($event)">
    <mat-option value="1">Abietos</mat-option>
    <mat-option value="2">Cerrados</mat-option>  </mat-select>
</mat-form-field>


<mat-form-field>
  <mat-label>Selecciona el departamento</mat-label>
  <mat-select [(ngModel)]="departamentSelected" (selectionChange)="selectDepartament()"
    [ngModelOptions]="{standalone: true}">
    <mat-option *ngFor="let deaprtament of departamentList" [value]="deaprtament.id_departamento">{{deaprtament.nombre}}-{{deaprtament.area}}</mat-option>

  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Empleado</mat-label>
  <mat-select>
    <mat-option >RRHH</mat-option>
    <mat-option >Compras</mat-option>  </mat-select>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id_ticket">
      <th mat-header-cell *matHeaderCellDef> No. Ticket</th>
      <td mat-cell *matCellDef="let element"> {{element.id_ticket}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Asignado a </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
    <ng-container matColumnDef="comentarios">
      <th mat-header-cell *matHeaderCellDef> Comentarios </th>
      <td mat-cell *matCellDef="let element"> {{element.comentarios}} </td>
    </ng-container>

    <ng-container matColumnDef="creado_por">
      <th mat-header-cell *matHeaderCellDef> Creado por </th>
      <td mat-cell *matCellDef="let element"> {{element.creado_por}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="departamento">
      <th mat-header-cell *matHeaderCellDef> Departamento </th>
      <td mat-cell *matCellDef="let element" > {{element.departamento}} </td>
    </ng-container>

    <ng-container matColumnDef="error">
      <th mat-header-cell *matHeaderCellDef> Error </th>
      <td mat-cell *matCellDef="let element"> {{element.error}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
